<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/functions.js"></script>
    <script src="https://kit.fontawesome.com/abc91cab4a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container home">
        <div class="container-item home">
            <div class="container home-header">
                <div class="header-item">
                    <div class="h-item logo">
                        <h5 class="sm-header">SM_TYPE_SHII</h5>
                    </div>
                    <div class="h-item icons">
                        <a href="/camera"><i class="fa-solid fa-camera"></i></a>
                        <a href="/messages"><i class="fa-solid fa-envelope"></i></a>
                        <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                    </div>
                </div>
            </div>
            <% const userDetails = user_details %>
            <% post.forEach(posts => { %>
            <div class="card">
                <div class="card-header">
                    
                    <div class="card-image" style="flex-grow: 1;">
                        <div class="card-pfp">

                        </div>
                    </div>
                    <div class="card-title" style="flex-grow: 4;">
                        
                    </div>
                    <div class="card-more" style="flex-grow: 1;">
                        <%=  %> <p><i class="fa-solid fa-ellipsis"></i></p>
                    </div>
                </div>
                <div class="card-body">
                    <img class="image" src="data:image/<%=posts.image.contentType%>;base64,
                    <%=posts.image.data.toString('base64')%>" >
                </div>
                <div class="card-footer">
                    <div class="card-footer-item">
                        <p><i class="fa-regular fa-heart" id="like" click="liked()"></i></p>
                        <p><%=  posts.likes %></p>
                    </div>
                    <div class="card-footer-item">
                        <p><%= posts.caption %></p>
                    </div>
                    <div class="card-footer-item">
                        <% 
                            function timeSince(date) {
                            var seconds = Math.floor((new Date() - date) / 1000);

                            var interval = Math.floor(seconds / 31536000);
                          
                            if (interval > 1) {
                              return interval + " years";
                            }
                            interval = Math.floor(seconds / 2592000);
                            if (interval > 1) {
                              return interval + " months";
                            }
                            interval = Math.floor(seconds / 86400);
                            if (interval > 1) {
                              return interval + " days";
                            }
                            interval = Math.floor(seconds / 3600);
                            if (interval > 1) {
                              return interval + " hours";
                            }
                            interval = Math.floor(seconds / 60);
                            if (interval > 1) {
                              return interval + " minutes";
                            }
                            return Math.floor(seconds) + " seconds";
                          }
                        %>
                        <p><%= timeSince(new Date(posts.date)) %> <span>ago</span></p>              
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <%- include('./partials/footer.ejs', {userDetails})%>
    </div>
    <script src="js/functions.js"></script>
</body>
</html>